$primary: #053545;
// $primary: #e9edee;
$primary-dark: #000d1a;
$secondary: #39b663;
$text: $primary-dark;
$light-text: #333333;
$red: #ff0f00;
$light-red: #fff4f3;
$border-radius: 8px;
$transition-duration: 0.3s;

$light-bg: #009f9a13;
$lighter-red: #fff4f3ab;
$blue: #0099ff;
$border-color: #c9d9e9;
$border-card-color: #dfdfdf;
$white: #fff;
$black: #000;
$unit-text: #767676;
$gold: gold;
